*{
  border-color: red;
}
.App {
  /* background-color:#0a192f; */
  background-color:black;
  padding: 0 50px;
}

.social-icons-container{
  display:flex;
  flex-direction:column;
  align-self: flex-end;
  position: fixed;
  align-items: center;
  bottom:0;
}
.mail-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  left: 94%;
  position: fixed;
  bottom:0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0a192f; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0a192f69; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media (max-width: 1023px){
  .App{
    padding: 0 20px;
  }
  .social-icons-container,.mail-container{
    display: none;
  }
}

@media (min-width: 1024px){
  .main-container{
    display: flex;
  }
  .social-icons{
    font-size:25px;
    color:#8892b0;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .social-icons:hover,.mail:hover{
    color:#64ffdb62;
  }
  .mail{
    writing-mode: vertical-rl;
    color: #8892b0;
    font-size: 17px;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
  }
  .mail-anchor{
    text-decoration: none;
  }
  .git,.linkedin,.mail{
    transition: font-size 200ms;
  }
  .git:hover,.linkedin:hover{
    font-size: 20px;
  }
  .v-line{
    border-left: 1px solid #8892b0;
    height: 140px;
  }
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
